  <footer style="padding:12px;text-align:center;color:#8892a6;font-size:13px">
    <p style="margin:6px 0">&copy; 2025 nama kelompok apa. All rights reserved.</p>
  </footer>
  <%- include('./bot') %>
  <script src="/js/sidebar.js"></script>
  <script src="/js/bot.js"></script>
  <script src="/js/dashboard.js"></script>
</body>
</html>