<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/kendalateknik.css">

</head>
<body>
