
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/kendalateknik.css">
  <link rel="stylesheet" href="/css/todolist.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/bot.css">
  <link rel="stylesheet" href="/css/kendala.css">
  <link rel="stylesheet" href="/css/daily.css">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
</head>
<body>