<div class="sidebar">
  <h3>Menu</h3>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/kendala-teknik">Kendala Teknik</a></li>
    <li><a href="/#">Data Kendala STO</a></li>
  </ul>
</div>
